*{
  margin: 0px;
  padding: 1cqmax;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #111111;
}

button{
  background-color: rgb(93, 6, 46);
  margin-top: 5px;
  margin-bottom: 17px;
}